.taskContainer{
    display: flex;
    flex-direction: column;

    background-color:var(--grey-tiles);
    border-radius: var(--border-radius);
    font-family: var(--font-roboto);
}

.taskContainer h3{
    padding:var(--fz-xl);
    font-size: var(--fz-lg);
    font-weight: 300;
}

.taskContainer span{
    margin: 10px 0;
    height:1px;
    background-color:var(--grey-dl);
}
.taskContainer .completedIcon{
    display:none;
}

.taskCompletedContainer{
    display: flex;
    flex-direction: column;
    position: relative;

    background-color:var(--grey-tiles);
    border:1px solid var(--green);
    border-radius: var(--border-radius);
    font-family: var(--font-roboto);
}

.taskCompletedContainer h3{
    padding:var(--fz-xl);
    font-size: var(--fz-lg);
    font-weight: 300;
}

.taskCompletedContainer span{
    margin: 10px 0;
    height:1px;
    background-color:var(--grey-dl);
}

.taskCompletedContainer .completedIcon{
    position:absolute;
    color:var(--green);
    background-color:var(--white);
    border-radius: 50%;
    top:var(--fz-xl);
    right:calc(var(--fz-sm)*-1);
    font-size: var(--fz-xxl);
}

.inputs{
    padding:var(--fz-xl);
    display: flex;
    justify-content:space-between;
}

.inputs button{
    padding:5px 20px;
    font-size:var(--fz-md);
    color:var(--white);

}
.inputs #completed{
    background-color:var(--pink-purple);
    border: 1px solid transparent;
    border-radius:var(--border-radius);
    transition: all 0.25s;
}
.inputs #completed:hover{
    background-color:transparent;
    border:1px solid var(--green);
    color:var(--grey-delete);
}
.inputs #incomplete{
    background-color:transparent;
    border: 1px solid transparent;
    color:var(--grey-delete);
    border-radius:var(--border-radius);
    transition: all 0.25s;
}
.inputs #incomplete:hover{
    background-color:transparent;
    border:1px solid var(--pink-purple);
    color:var(--white);
}
.inputs #delete{
    background-color:transparent;
    border: 1px solid transparent;
    border-radius:var(--border-radius);
    transition: all 0.4s;
}

.inputs #delete:hover{
    border:1px solid var(--pink-purple);
    color:var(--pink-purple);
}