.taskContainer{
    /* width:360px;   */
    /* keep width auto */

    /* height:auto; */

    display: flex;
    flex-direction: column;

    background-color:var(--grey-tiles);
    border-radius: var(--border-radius);
    font-family: var(--font-roboto);
    

}

.taskContainer h3{
    padding:var(--fz-xl);
    font-size: var(--fz-lg);
    font-weight: 300;
}

.taskContainer span{
    margin: 10px 0;
    height:1px;
    background-color:var(--grey-dl);
}

.inputs{
    padding:var(--fz-xl);
    display: flex;
    justify-content:space-between;
}

.inputs button{
    padding:5px 20px;
    font-size:var(--fz-md);
    color:var(--white);

}
.inputs #status{
    background-color:var(--pink-purple);
    border: none;
    border-radius:var(--border-radius);
}
.inputs #delete{
    background-color:transparent;
    border: none;
    border-radius:var(--border-radius);
}