:root{
  --white: #FFFFFF;
  --pink-purple: #C620A7;
  --grey-bg: #171717;
  --grey-tiles: #2F2F2F;
  --grey-dl: #5C5C5C;
  --grey-tile-completed: #202020;
  --grey-delete: #AFAFAF;
  --green: #7AB530;

  /* Effect */
  --drop-shadow-tile-incomplete: 0px 0px 16px rgba(47, 47, 47, 80%); 

  --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  --font-roboto:'Roboto', sans-serif;
  
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-space: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;

  --tab-height: 42px;
  --tab-width: 120px;

  --button-w:128px;
  --button-h:32px;
}

.App{
  background-color: var(--grey-bg);
  color: var(--white);

  display:flex;
  flex-direction: column;
  gap:1rem;
}

