.registerContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:var(--fz-md);

    padding:var(--fz-space) var(--nav-height);
}

.registerContainer h1{
    color:var(--pink-purple);
}

.registerContainer form{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.registerContainer form div{
    display:flex;
    flex-direction: column;
}
.registerContainer label{
    font-size:var(--fz-lg);
    padding-bottom: var(--fz-xxs);
}

.registerContainer input{
    width:clamp(34vw,70vw,25rem);
    /* height:2rem; */
    margin-bottom: var(--fz-xxs);

    height:var(--fz-space);

    border:0;
    border-radius: var(--border-radius);

    background-color: var(--grey-dl);

    color: var(--white);
    padding: var(--fz-xxs);
    font-family: var(--font-roboto);
    font-size: var(--fz-md);
    letter-spacing: 0.35px;
}

.registerContainer input:hover{
    outline:1px solid var(--pink-purple);
}
.registerContainer input:focus{
    outline:1px solid var(--pink-purple);
}
.registerContainer input::placeholder {
    color: var(--white);
  }

.registerContainer button{
    width:var(--button-w);
    height:var(--button-h);
    margin-top: 1rem;

    color: var(--white);
    font-family: var(--font-roboto);
    font-size: var(--fz-md);
    font-weight: 300;

    background-color: var(--pink-purple);
    border: none;
    border-radius: var(--border-radius);
}

.registerContainer button:hover{
    outline:1px solid var(--white);
}

.redirect{
    color:var(--pink-purple);
}

@media only screen and (max-width: 745px) {
    .registerContainer{
        padding:var(--fz-space) ;
    }
  }