.headerContainer{
    width:100vw;
    height:var(--nav-height);
    display:flex;
    justify-content:center;
    align-items:center;

    color:white;

    font-family: var(--font-roboto);
    font-size: var(--fz-lg);
    font-weight: 500;
}
