.inputTaskContainer{
    display:flex;
    flex-direction: column;
    gap:var(--fz-md);

    padding:var(--fz-space);
    align-items: flex-start;
}

.inputTaskContainer h3{ 
    font-family: var(--font-roboto);
    font-size:var(--fz-lg);
    font-weight: 400;
}

.inputTaskContainer form{ 
    display:flex;
    gap:var(--fz-space)
}

/* Input Box */

.inputTaskContainer input{
    width:min(35rem,70vw);
    height:var(--fz-space);

    border:0;
    border-radius: var(--border-radius);

    background-color: var(--grey-dl);

    color: var(--white);
    padding: var(--fz-xxs);
    font-family: var(--font-roboto);
    font-size: var(--fz-md);
    letter-spacing: 0.35px;
}
.inputTaskContainer input:focus{
    outline:1px solid var(--pink-purple);
}
.inputTaskContainer input::placeholder {
    color: var(--white);
  }

   /* Submit button */

.inputTaskContainer button{
    width:var(--button-w);
    height:var(--button-h);

    color: var(--white);
    font-family: var(--font-roboto);
    font-size: var(--fz-md);
    font-weight: 300;

    background-color: var(--pink-purple);
    border: none;
    border-radius: var(--border-radius);

}

@media only screen and (max-width: 500px) {
    .inputTaskContainer form{ 
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:var(--fz-space)
    }
  }